{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog !</h1>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas cumque rerum quae suscipit, sit atque necessitatibus magni ad numquam a possimus vitae, molestias nesciunt nihil. Velit consequatur totam iure id tenetur mollitia omnis dolor repudiandae, ab quod ullam animi quibusdam.</p>
    <p>Aut vitae, voluptas vero dolorem est praesentium soluta nobis explicabo cum? Nam molestiae eligendi eius quam, maxime tenetur praesentium dolore quibusdam odit! Aliquam consequuntur suscipit non magni incidunt quae consequatur vitae omnis tempore! Sint quis amet repellat magni mollitia optio.</p>

{% endblock %}